<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="file" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Log_test_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="DebugFile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Debug_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="WarnFile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Warn_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="Errorfile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Error_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="Fatalfile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Fatal_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="TraceFile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\Trace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="DBTraceFile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\DBTrace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="JSTraceFile" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\JSTrace_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="RPInfo" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\RPInfo_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    <target name="REDISInfo" xsi:type="File" fileName="C:\asp.net\FleetLogsReader\Logs\REDISInfo_fleet_${date:format=yyyyMMdd}.log" layout="${date}: ${message}" />
    
  </targets>

  <rules>
    <logger name="Current" level="Info" writeTo="file" />
    <logger name="Current" level="Debug" writeTo="DebugFile" />
    <logger name="*" level="Error" writeTo="Errorfile"  />
    <logger name="Current" level="Warn" writeTo="Warnfile"  />
    <logger name="*" minlevel="Fatal"  writeTo="Fatalfile"/>
    <logger name="Current" level="Trace"  writeTo="TraceFile" />
    <logger name="DB" levels="Trace,Info,Debug"  writeTo="DBTraceFile" />
    <logger name="JS" levels="Trace,Info"  writeTo="JSTraceFile" />
    <logger name="REPORT" levels="Info,Trace,Debug"  writeTo="RPInfo" />
    <logger name="CACHE" level="Info"  writeTo="REDISInfo" />
  </rules>

</nlog>