<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=logData;Integrated Security=SSPI;AttachDBFilename=c:\users\noams\documents\visual studio 2013\Projects\FleetLogsReader\UnitTestLogReader\Data\logDataPSA.mdf" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=207.232.46.176;Initial Catalog=LogDataBR;User ID=sa;Password=Aa111111" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=207.232.46.176;Initial Catalog=LogDataQA;User ID=sa;Password=Aa111111" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DIR" value="C:\asp.net\FleetLogsReader\UnitTestLogReader\Data\Logs\QA\Logs\00"/>
    <add key="LOG_DIR" value="C:\asp.net\FleetLogsReader\UnitTestLogReader\Data\QA\Archive"/>
    <add key="ARCHIVE_DIR" value="C:\asp.net\FleetLogsReader\UnitTestLogReader\Data\Logs\QA\rar"/>
  </appSettings>
</configuration>